// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";

.cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
}

.links a {
  margin-right: 16px;
}

.card {
  height: auto;
  width: 385px;
}

.image_index {
  height: 300px;
}

.img-fluid {
  width: -webkit-fill-available;
  height: 100px;
  object-fit: cover;
}

.banner {
  height: 40vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

