// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.links a {
  margin-right: 16px;
}

.main_card {
  height: auto;
}

.image_index {
  height: 300px;
}

.img-fluid {
  width: -webkit-fill-available;
  height: 100px;
  object-fit: cover;
}
